<div class="s-text-slider swiper-container">
	<div class="s-text-slider__wrapper swiper-wrapper">
		<div class="s-text-slider__slide swiper-slide">
			<div class="s-text-slider__icon-cont">
				<img src="{{ section.settings.image | image_url: width: 533, height: 200 , format: 'pjpg' }}" alt="{{ product.title }}" width="533" height="200"  class="s-text-slider__icon" loading="lazy">
			</div>
			<h3 class="s-text-slider__h3">AOD New York  @aod <span>/  35 min</span></h3>
			<div class="s-text-slider__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.				
			</div>
		</div>
		<div class="s-text-slider__slide swiper-slide">
			<div class="s-text-slider__icon-cont">
				<img src="{{ section.settings.image | image_url: width: 533, height: 200 , format: 'pjpg' }}" alt="{{ product.title }}" width="533" height="200"  class="s-text-slider__icon" loading="lazy">
			</div>
			<h3 class="s-text-slider__h3">AOD New York  @aod <span>/  35 min</span></h3>
			<div class="s-text-slider__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.				
			</div>
		</div>
		<div class="s-text-slider__slide swiper-slide">
			<div class="s-text-slider__icon-cont">
				<img src="{{ section.settings.image | image_url: width: 533, height: 200 , format: 'pjpg' }}" alt="{{ product.title }}" width="533" height="200"  class="s-text-slider__icon" loading="lazy">
			</div>
			<h3 class="s-text-slider__h3">AOD New York  @aod <span>/  35 min</span></h3>
			<div class="s-text-slider__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.				
			</div>
		</div>
	</div>
</div>